/* .content {
    display: flex;
    align-items: center;
    flex-direction: column;
} */

.d-flex {
    width: 100%;
}

.d-flex div {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 5%;
}

th,td {
    text-align: center;
}

td input {
    border: none;
    border-bottom: 1px solid black;
    outline: 0;
}

table {
    width: 75%;
    margin: auto;
    margin-top: 5%;
}